body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  background-color: black;
  color: antiquewhite;
}

#signup-login {
  background-color: black;
  color: antiquewhite;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 35px;
  padding-top: 40px;
  text-align: center;
}

#noLogin {
  padding-bottom: 20px;
}

.formhidden {
  display: none
}

.formvisible {
  display: block
}

#scroll-bg {
  height: 100vh;
  width: 100%;
  background: url(Assets/Photos/cropped-girl-sitting-on-a-bus-14857.jpg) no-repeat scroll top;
  background-size: cover;
  opacity: 0.8;
  margin-top: -20px;
}